.home-container {
  /* 화면 전체를 채우는 컨테이너 */
  height: 100vh;
  width: 100%;
  margin: 0; /* 기본 마진 제거 */
  padding: 0; /* 기본 패딩 제거 */
  position: relative; /* 이미지 절대 위치 설정을 위해 필요 */
}

.home-image {
  width: 100%; /* 화면 너비를 100%로 설정 */
  height: 100%; /* 화면 높이를 100%로 설정 */
  object-fit: cover; /* 이미지 비율을 유지하며 화면을 꽉 채우기 */
  position: absolute; /* 이미지 절대 위치 지정 */
  top: 0;
  left: 0;
}
